$black: #000000;
$dark: #263238;
$gray: #939393;
$lightDark: #546269;
$lightGray: #8F95A5;
$white: #FFFFFF;
$line-color: #C4C4C4;
$bg-card: #F5F5F5;
$bg-price: #EEEEEE;

$br-less: 5px;
$br-average: 10px;
$br-large: 15px;
